<template>
    <div id="app">
        <div class="container mt-5">
            <div class="row">

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-4">
                            <select v-model="rateFrom"
                                    @change="getResult()"
                                    class="form-control">
                                <option v-for="rate in rates" :value="rate">
                                    {{ rate }}
                                </option>
                            </select>
                        </div>
                        <div class="col-8">
                            <input type="text"
                                   class="form-control"
                                   v-model="currency">
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-4">
                            <select v-model="rateTo"
                                    class="form-control">
                                <option v-for="rate in rates" :value="rate">
                                    {{ rate }}
                                </option>
                            </select>
                        </div>
                        <div class="col-8">
                            <input type="text"
                                   class="form-control"
                                   v-model="currency2"
                                   @input="currencyChange">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import axios from 'axios'

    export default {
        name: 'app',
        data() {
            return {
                currency: 1,
                currency2: 1,
                result: {},
                rateFrom: 'USD',
                rateTo: 'EUR',
                rates: [
                    'CAD',
                    'HKD',
                    'ISK',
                    'PHP',
                    'DKK',
                    'HUF',
                    'CZK',
                    'GBP',
                    'RON',
                    'SEK',
                    'IDR',
                    'INR',
                    'BRL',
                    'RUB',
                    'HRK',
                    'JPY',
                    'THB',
                    'CHF',
                    'EUR',
                    'MYR',
                    'BGN',
                    'TRY',
                    'CNY',
                    'NOK',
                    'NZD',
                    'ZAR',
                    'USD',
                    'MXN',
                    'SGD',
                    'AUD',
                    'ILS',
                    'KRW',
                    'PLN',
                ]
            }
        },
        computed: {

            currencyChange() {
                return this.currency2 = this.currency * this.result[this.rateTo]
            },
        },
        methods: {
            getResult() {
                axios
                    .get('https://api.exchangeratesapi.io/latest?base=' + this.rateFrom)
                    .then(response => (this.result = response.data.rates));
            }
        },
        mounted() {
            axios
                .get('https://api.exchangeratesapi.io/latest?base=' + this.rateFrom)
                .then(response => (this.result = response.data.rates))
        }
    }
</script>